canvas{
 border: 1px solid black;
   
}

ul{
    display: flex;
    width: 50px;
    border: 2px solid var(--color-fiery-rose);
    
}

ul li{
    width: 33px;
    border: 0.5px solid rgb(255, 255, 255);
    text-indent: -9999px;
    background-color: var(--color-old-silver);
}